<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Therapy</title>

    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Book an Appointment</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/appointments/add}"
          th:method="POST"
          th:object="${createAppointmentDTO}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="inputDate" class="h4 mb-2">Set input date</label>
            </div>
            <input type="date" class="form-control" id="inputDate" name="inputDate"
                   th:field="*{inputDate}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small class="invalid-feedback text-danger">
                The input date must be a date in the future!</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="therapist" class="h4 mb-2">Therapist</label>
            </div>
            <select class="browser-default custom-select" id="therapist" name="therapist"
                    th:field="*{therapist}"
                    th:errorclass="'is-invalid alert-danger'">
                <option value="''">Select therapist</option>
                <option value="INDIVIDUAL_COUNSELOR">Individual Counselor</option>
                <option value="FAMILY_COUNSELOR">Family Counselor</option>
                <option value="ORGANIZATIONAL_COUNSELOR">Organizational Counselor</option>
            </select>

            <small class="invalid-feedback text-danger">
                You must select a therapist!</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Book an Appointment</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
