xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Online Therapy</title>

  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div>
  <h1 class="justify-content-center text-center mt-5"
      style="color: #65b530">Roles have been updated!</h1>
</div>

<th:block th:replace="~{fragments/commons::scripts}"></th:block>
</body>

</html>